*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: "Poppins", sans-serif;
 font-weight: 300;
   
}
.main{
    z-index: 0;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
       background-color: white;
    width: 100%;
    position: fixed;
    padding: 12px 20px;
    z-index: 0;
}
.headbar ul,
.rightbar  {
display: flex;
align-items: center;
justify-content: center;
list-style: none;
gap: 18px;

}
.headbar ul li a{
    color: gray;
    /* font-weight: 500; */
    text-decoration: none;
   
    
}
.headbar ul li a:hover{
    background-color:rgb(26, 198, 93);
    color: azure;
    border-radius: 5px;
    padding: .5rem 1rem;
}
.loginbutton{
    color: rgb(26, 198, 93);
    background-color: white;
    border-radius: 5px;
    border-style: none;
    padding: .5rem 1rem;
    /* font-weight: 400; */
}
.loginbutton:hover{
    background-color: rgb(237, 235, 235);
}
    
.signupbutton{
    background-color: rgb(26, 198, 93);
    border-radius: 5px;
    padding: .5rem 1rem;
    border-style: none;
    color: white;
    /* box-shadow: 0 0 10px  rgba(0,0,0,0.05); */
}
.signupbutton:hover{
  
  background-color: rgb(17, 138, 71);
}

.insights{
   
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
 
      
}
.insights img{
    height: 50vh;
    position: absolute;
        right: 0;
    padding-right: 60px;
}
    
.insights h1{
    font-weight: bold;
    color: rgb(47, 47, 47);
    font-size: 41px;
    position: absolute;
    left: 0;
    padding-top: 2rem;
    padding-left: 40px;
    
}
.insights h2{
    color: rgb(26, 198, 93);
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    left: 0;
    padding-top: 8rem;
    padding-left: 60px;
}
.insights p{
    color: gray;
    position: absolute;
    left: 0;
    padding-top: 13rem;
    padding-left: 60px;
    font-size: 14px;
}

.insights button{
    background-color: rgb(26, 198, 93);
    border-radius: 5px;
    padding: .5rem 1rem;
    color: white;
    font-weight: 400;
    border-style: none;
}

.registor{
    margin-top: 280px;
    position: absolute;
    display: inline-block;
   margin-left: 60px;
    left: 0;
}
.registor:hover{
  
  background-color: rgb(17, 138, 71);
}
.clientsection h2{
text-align: center;    
color: rgb(47, 47, 47);
font-weight: bold;
font-size: 30px;
}
.clientsection p{
    text-align: center;
    color: rgb(47, 47, 47);
    padding-top: 11px;
}
.clientimages{
    display: flex;
     
      justify-content: space-between;
      padding-left:20px;
      padding-right: 20px;
      padding-top: 45px;
}

h1{
     padding-top: 50px;
    text-align: center;
    width: 520px;
    margin: auto;
    font-weight: 500;
    color: rgb(47, 47, 47);
 
}
h2{
    text-align: center;
    font-size: small;
    color: rgb(47, 47, 47);
    padding-top: 14px;

}

.community{
     width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
     padding-top: 50px;
}
.organisations{
    padding: 20px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.05);
    justify-content: center;
    text-align: center;
}
.organisations h3{
    width: 250px;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    color: rgb(47, 47, 47);
}
.associations{
    padding: 35px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.05);
    justify-content: center;
    text-align: center;
}
.associations h3{
    width: 250px;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    color: rgb(47, 47, 47);
}
.clubs{
    padding: 35px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.05);
    justify-content: center;
    text-align: center;
}
.clubs h3{
    width: 250px;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    color: rgb(47, 47, 47);
}
.pixelgrade{
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 50px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.05);;
}


.pixelgrade h1{
    margin-top: -210px;
   font-size: 24px;
    position: absolute;
    right: 0;
    padding-right: 50px;
    width:600px ;
    
    text-align: left;
}
.pixelgrade p{
    position: absolute;
    width: 600px;
    right: 0;
    margin-top: 130px;
    padding-right: 50px;
    text-align: left;
    margin: auto;
}
.learnbutton{
    border-style: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: white;
    font-size: 15px;
    background-color: rgb(26, 198, 93);
    position: absolute;
    right: 0;
    margin-top: 170px;
    

}
.learnbutton:hover{
  
  background-color: rgb(17, 138, 71);
}
.pixelgrade button{
    margin-right: 485px;
}
.helping{
    display: flex;
    justify-content: space-between;
   backdrop-filter: contrast(0.9); 
   height: 40vh;
   margin-bottom: 30px;
  overflow: hidden;

}
.helping h1,
.helping p
{
    text-align: left;
    padding-left: 30px;
    
    margin-top: 10px;
}


span {
    color: rgb(26, 198, 93);
    font-weight: 500;
    
}
.iconsection{
    padding-top: 50px;
    
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
     
    flex: 1;
     align-items: center;
     gap: 10px;
     
  

}
.pranjal{
    display: flex;
}

.iconsection h1 {
    align-items: center;
flex-direction: row;
font-size: large;
padding-left: 50px;
font-weight: 600;
font-size: 20px;
position: absolute;
margin-top: -100px;
} 


.iconsection img{
    width: 30px;
    height: 30px;
}

.iconsection p{
    font-size:small ;
    padding-left: 50px;
    position: absolute;
    margin-top: -20px;
}
.footersection{
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 70px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.05);;
}


.footersection h1{
    margin-top: -250px;
   font-size: 29px;
    position: absolute;
    right: 0;
    padding-right: 50px;
    width:580px ;
    line-height: 1.1;
    text-align: left;
    margin-right: 22px;
}
.footersection p{
    position: absolute;
    width: 600px;
    right: 0;
    margin-top: 130px;
    padding-right: 50px;
    text-align: left;
    margin: auto;
}
.learnbutton2{
    border-style: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: white;
    font-size: 15px;
    background-color: rgb(26, 198, 93);
    position: absolute;
    right: 0;
    margin-top: 200px;
    

}
.learnbutton2:hover{
  
  background-color: rgb(17, 138, 71);
}
.footersection button{
    margin-right: 485px;
}
.footersection button:hover{
  
  background-color: rgb(17, 138, 71);
}
.tesla{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 80px;
    margin-top: 70px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.05);
    gap: 30px;
    padding-top: 30px;
    backdrop-filter: contrast(0.9);
}
.teslatext{
    flex-direction: column;
    display: flex;
}
.teslatext p {
margin-top: -40px;
}
.teslatext span h1{
color: rgb(26, 198, 93);
text-align: left;
font-size: 20px;
padding-top: 5px;
margin-left: 1px;
}
.teslatext span h2{
text-align: left;
font-size: 15px;
    margin-top: -24px;
    margin-bottom: 30px;
}
.logos{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.logos h2{
    font-size: 15px;
    color: rgb(26, 198, 93);
    font-weight: 500;
    padding-top: initial;
}
.logos span:hover{
    color: rgb(17, 138, 71);
    
}

.marketing p{
    width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.threeimages{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    /* box-shadow: 0 0 10px  rgba(0,0,0,0.05); */
    /* z-index: 0; */
    position: relative;
}
.threeimages p{
    width: 220px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    font-weight: 400;
    color: rgb(47, 47, 47);
}
.threeimages h3{
    color: rgb(26, 198, 93);
    font-weight:500;
    font-size: large;
    width: 220px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}
.background{
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 270px;
    height: 150px;
    margin-left: 50px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.1);
    /* z-index: 0; */
    position: absolute;
    top:190px;
}
.demobar{
    margin-top: 100px;
padding-top: 40x;
backdrop-filter: contrast(0.9);
height: 230px;
}
.demobar h2{
    font-size:40px;
    font-weight: 700;
    width: 530px;
    margin: auto;
    padding-top: 30px;
}
.demobar button{
    
    background-color: rgb(26, 198, 93);
    color: white;
    padding: .5rem 1rem;
    border-style: none;
    border-radius: 5px;
}
.demo:hover{
  
  background-color: rgb(17, 138, 71);
}
.demo{
    margin-left: 550px;
    align-items: center;
    margin-top: 30px;

}
.bottomsection{
   background-color: rgb(17, 24, 39);
   
    display: flex;
    
    align-items: center;
    gap: 126px;
    padding-left: 30px;
    ;
    
}
.nexlogo{
    color: grey;
    margin-bottom: 30px;
}
.nexlogo p{
    padding-top: 20px;
    width: 217px;
}
.nexlogo span {
    display: flex;
    gap: 20px;
    padding-top: 60px;
}
.company{
    padding-top: 30px;
   margin-bottom: 30px;
}
.company ul li{
    list-style: none;
    
   padding-top: 15px;
}
.company ul li a{
    
    text-decoration: none;
    color: gray;

}
.support{
    padding-top: 30px;
    margin-bottom: 30px;
    
}
.support ul li{
    list-style: none;
    padding-top: 15px;
    width: 200px;
}
.support ul li a{
    color: grey;
    text-decoration: none;

}

.bottomsection h2{
    color: rgb(185, 185, 185);
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-bottom: auto;
    

}
input{
    background-color: rgb(42, 40, 71);
    color: rgb(185, 185, 185);
    border-radius: 5px;
    border-style: none;
    padding: .5rem 5rem .5rem 5px;
    text-align: left;
}

.email{
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-bottom: 155px;
}
.email i{
    position: absolute;
    margin-left: -26px;
    margin-top: 11px;
}
